---
// Container component for consistent content spacing
interface Props {
  class?: string;
  id?: string;
}

const { class: className = "", id } = Astro.props;
---

<div id={id} class={`max-w-7xl  px-4 sm:px-6 lg:px-8 ${className}`}>
  <slot />
</div>
