---
import Dot from "@/assets/Dot.astro";
import Container from "../layout/Container.astro";

import AccommodationsCarousel from "../ui/AccommodationsCarousel.tsx";
---

<section id="alojamiento" class="">
  <Container>
    <div class="text-center mb-20">
      <p class="text-4xl text-gray-900" id="accommodations-description">
        Espacios con intención. <br />
        Cada alojamiento es un

        <span class="golden-gradient"> santuario privado</span>, diseñado para
        la introspección y el descanso.
      </p>
    </div>

    <div
      class="w-full flex items-center justify-between mb-4 relative mt-32 opacity-0"
      id="accommodation-title"
    >
      <div class="flex flex-col w-full">
        <h3
          class="flex items-center relative w-full gap-2 text-6xl uppercase tracking-wider font-medium overflow-hidden flex-wrap"
        >
          <span class="text-filled"> Aura </span><Dot />
          <span class="text-stroke"> Gaya </span>
          <span
            class="underline absolute block left-0 -bottom-2 w-full z-50 bg-golden h-px max-w-10/12"
          ></span>
        </h3>

        <p class="text-gray-600 text-base my-3 max-w-md text-pretty">
          Dos acogedoras casetas de madera independientes con acceso a piscina
          privada. Perfectas para una escapada de descanso y bienestar.
        </p>
      </div>
    </div>
  </Container>

  <div
    id="accommodation-image"
    class="w-full bg-[#f9eddb] rounded-4xl py-8 flex flex-col gap-8"
  >
    <Container class="w-full flex flex-col gap-4 relative">
      <div class="w-full bg-white rounded-3xl flex h-full z-10 p-6">
        <AccommodationsCarousel client:visible />
      </div>
      <img
        src="/Houses.webp"
        class="absolute object-cover mix-blend-luminosity z-0 w-full opacity-10"
      />
    </Container>
    <!-- <video
      src="/test_video.mp4"
      autoplay
      muted
      loop
      playsinline
      class="w-full h-screen object-cover rounded-lg"
    >
      Tu navegador no soporta videos HTML5.
    </video> -->
  </div>
</section>

<style>
  .text-filled {
    color: var(--color-gray-900);
  }

  .text-stroke {
    color: transparent;
    -webkit-text-stroke: 1px var(--color-gray-900);
    text-stroke: 1px var(--color-gray-900);
    font-family: "Inter", "Helvetica Neue", "Arial", sans-serif;
    font-weight: 500;
  }

  #accommodation-image {
    transform: translateY(-50px) scale(0.95);
    opacity: 0;
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { SplitText } from "gsap/SplitText";

  gsap.registerPlugin(ScrollTrigger, SplitText);

  const tl = gsap.timeline({
    defaults: {
      duration: 0.75,
      scrollTrigger: {
        trigger: "#alojamiento",
        start: "top top",
        end: "bottom bottom",
        toggleActions: "play none none reverse",
        scrub: 2,
        // markers: {
        //   indent: 100,
        //   startColor: "purple",
        //   endColor: "orange",
        // },
      },
    },
  });

  const textStrokeSplit = new SplitText(".text-stroke", {
    type: "chars",
  });

  tl.to("#accommodation-title", {
    opacity: 1,
    y: 10,
    duration: 0.2,
  })
    .to(
      textStrokeSplit.chars,
      {
        color: "var(--color-gray-900)",
        duration: 0.2,
        stagger: 0.1,

        ease: "power1.in",
      },
      ">0.1",
    )

    .fromTo(
      ".underline",
      {
        width: "0%",
        left: "0%",
      },
      {
        width: "100%",
        duration: 1,
      },

      "<",
    )
    .to("#accommodation-image", {
      y: 0,
      scale: 1,
      duration: 0.3,
      ease: "power2.in",
      autoAlpha: 1,
    });

  const textTl = gsap.timeline({
    default: {
      duration: 0.75,
      ease: "power2.out",
    },
    scrollTrigger: {
      trigger: "#alojamiento",
      start: "top center",
      end: "center top",

      toggleActions: "play none none reverse",
      // markers: {
      //   startColor: "yellow",
      //   endColor: "blue",
      // },
    },
  });

  textTl.to(
    ".golden-gradient",
    {
      backgroundPosition: "-500% 0",
      ease: "none",
      duration: 0.2,
      scrollTrigger: {
        scrub: 1,
      },
    },
    ">",
  );

  // // GSAP animation for the accommodation section
  // tl.from("#accommodation-image video", {
  //   opacity: 0,
  //   y: 200,
  //   duration: 0.4,
  //   scale: 0.95,
  //   stagger: 0.2,
  //   // rotate: 5,
  //   ease: "expo.inOut",
  // });

  // const videoTl = gsap.timeline({
  //   defaults: {
  //     scrollTrigger: {
  //       trigger: "#accommodation-image",
  //       start: "top top",
  //       //end: "+=200%",
  //       scrub: 1,
  //       pin: true,

  //       pinnedContainer: "#accommodation-image",

  //       markers: true,
  //     },
  //   },
  // });

  // videoTl.to("#accommodation-image video", {
  //   scale: 1,
  //   duration: 0.5,
  // });
</script>
