---
import Container from "../layout/Container.astro";
import Dot from "@/assets/Dot.astro";
---

<section id="alojamiento" class="">
  <Container>
    <div class="text-center mb-20">
      <p class="text-4xl text-gray-900">
        Espacios con intención. <br />
        <br /> Cada alojamiento es un <br />

        <span class="golden-gradient"> santuario privado</span>, <br /> diseñado
        para la introspección y el descanso.
      </p>
    </div>

    <!-- <p
      class="mt-4 text-4xl flex items-center justify-center w-full md:text-lg text-gray-800"
      id="accommodation-names"
    >
      Gaya <Dot /> Aura
    </p> -->

    <picture id="accommodation-image">
      <img
        src="/house_placeholder.webp"
        alt="Alojamiento terapéutico en Tarragona"
        class="w-full h-auto object-cover rounded-lg shadow-lg mt-8 aspect-square"
      />

      <img
        src="/pool_placeholder.webp"
        alt="Alojamiento terapéutico en Tarragona"
        class="w-full h-auto object-cover rounded-lg shadow-lg mt-8 aspect-square"
      />
    </picture>
  </Container>
</section>

<style></style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const tl = gsap.timeline({
    defaults: {
      duration: 0.75,
      scrollTrigger: {
        trigger: "#alojamiento",
        start: "top center",
        toggleActions: "play none none reverse",
        scrub: 1,
      },
    },
  });

  // GSAP animation for the accommodation section
  tl.to(
    ".golden-gradient",
    {
      backgroundPosition: "-500% 0",
      ease: "none",
      duration: 0.2,
    },
    "<0.5",
  ).from("#accommodation-image img", {
    opacity: 0,
    y: 100,
    duration: 1,
    stagger: 0.3,
    rotate: 5,
    ease: "expo.inOut",
  });
</script>
