---
import Container from "../layout/Container.astro";
---

<section id="alojamiento" class="">
  <Container>
    <div class="text-center mb-20">
      <p class="text-4xl text-gray-900" id="accommodations-description">
        Espacios con intención. <br />
        <br /> Cada alojamiento es un <br />

        <span class="golden-gradient"> santuario privado</span>, <br /> diseñado
        para la introspección y el descanso.
      </p>
    </div>

    <!-- <p
      class="mt-4 text-4xl flex items-center justify-center w-full md:text-lg text-gray-800"
      id="accommodation-names"
    >
      Gaya <Dot /> Aura
    </p> -->
  </Container>
  <div id="accommodation-image" class="h-screen w-full">
    <div
      class="absolute inset-0 w-full grid place-items-center z-50 text-6xl text-white uppercase tracking-widest"
    >
      <h3 id="text-aura" class="">Aura</h3>
      <!-- <h3 id="text-gaya" class=" absolute">Gaya</h3> -->
    </div>

    <video
      src="/test_video.mp4"
      autoplay
      muted
      loop
      playsinline
      class="w-full h-screen object-cover rounded-lg"
    >
      Tu navegador no soporta videos HTML5.
    </video>
  </div>
</section>

<style>
  #text-aura,
  #text-gaya {
    transform: translateY(-20px);
    transform-style: preserve-3d;
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { SplitText } from "gsap/SplitText";

  gsap.registerPlugin(ScrollTrigger, SplitText);

  const tl = gsap.timeline({
    defaults: {
      duration: 0.75,
      scrollTrigger: {
        trigger: "#alojamiento",
        start: "top 40%",
        end: "bottom center",
        toggleActions: "play none none reverse",
        scrub: 1,
        markers: {
          indent: 100,
          startColor: "purple",
          endColor: "orange",
        },
      },
    },
  });

  const splitText = new SplitText("#accommodations-description", {
    type: "lines",
  });

  const textTl = gsap.timeline({
    default: {
      duration: 0.75,
      ease: "power2.out",
    },
    scrollTrigger: {
      trigger: "#alojamiento",
      start: "top center",
      end: "center top",

      toggleActions: "play none none reverse",
      markers: {
        startColor: "yellow",
        endColor: "blue",
      },
    },
  });

  textTl
    .from(
      splitText.lines,
      {
        y: 50,
        opacity: 0,
        stagger: 0.2,
        ease: "power2.out",
        duration: 0.4,
      },
      "+=0.1",
    )
    .to(
      ".golden-gradient",
      {
        backgroundPosition: "-500% 0",
        ease: "none",
        duration: 0.2,
        scrollTrigger: {
          scrub: 1,
        },
      },
      ">",
    );

  // GSAP animation for the accommodation section
  tl.from("#accommodation-image video", {
    opacity: 0,
    y: 200,
    duration: 0.4,
    scale: 0.95,
    stagger: 0.2,
    // rotate: 5,
    ease: "expo.inOut",
  });

  const videoTl = gsap.timeline({
    defaults: {
      scrollTrigger: {
        trigger: "#accommodation-image",
        start: "top top",
        //end: "+=200%",
        scrub: 1,
        pin: true,

        pinnedContainer: "#accommodation-image",

        markers: true,
      },
    },
  });

  videoTl.to("#accommodation-image video", {
    scale: 1,
    duration: 0.5,
  });
</script>
