---
import { ArrowRight, MoveRight } from "lucide-react";
import Container from "../layout/Container.astro";
import Therapy from "../ui/Therapy.astro";

const therapies = [
  "Tarot Evolutivo",
  "Reiki",
  "Constelaciones Familiares",
  "Sanación del Niño Interior",
  "Acompañamiento y Crecimiento Personal",
  "Flores de Bach",
  "Psicología Transgeneracional",
  "Gestalt",
  "Mediumnidad",
  "Meditación",
  "Rituales",
];
---

<div class="relative">
  <img
    src="/therapies.webp"
    class="-z-10 mask-b-from-2.5 parallax-img opacity-65 absolute h-screen mix-blend-luminosity inset-0 object-cover"
    alt=""
  />

  <div class=""></div>
  <section id="terapias" class="rounded-2xl relative h-full">
    <Container class="relative py-section">
      <div
        class="absolute z-[-1] left-0 top-0 bg-gradient-to-b from-background via-golden/15 to-b h-[140%] w-full"
      >
      </div>
      <!-- Section Header -->

      <div class="relative text-center mb-16">
        <div class="therapies-bg flex flex-col gap-4">
          <div class="flex flex-col items-center w-full">
            <!-- <img src="/moon_sun.webp" alt="Terapias" class="" /> -->
            <a
            href="/terapias"
              class="text-2xl font-semibold flex items-center gap-8 font-mono text-left w-full"
            >
              <span>TERAPIAS</span>
              <span
                ><MoveRight
                  strokeWidth={0.75}
                  className="size-8 animate-bounce-right text-golden"
                /></span
              >
            </a>
          </div>

          <div class="flex flex-col gap-6 w-full justify-start">
            {
              therapies.map((therapy, i) => (
                <Therapy name={therapy} index={i} />
              ))
            }
          </div>
        </div>

        <p
          class="text-lg text-gray-900 mt-4 text-left max-w-3xl mx-auto text-pretty"
        >
          Además de nuestros alojamientos, ofrecemos una variedad de <i
            class="underline text-golden underline-offset-2 underline-golden"
          >
            terapias</i
          > diseñadas para apoyar tu crecimiento personal y espiritual.
        </p>
      </div>
      <Container />
    </Container>
  </section>

  <style>
    /* .parallax-img {
      background-attachment: fixed;
    } */

    @keyframes bounce-right {
      0%,
      100% {
        transform: translateX(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
      }
      50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
      }
    }

    .animate-bounce-right {
      animation: bounce-right 1s infinite;
    }
  </style>

  <script>
    // todo
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    import { SplitText } from "gsap/SplitText";

    // Register GSAP plugins
    gsap.registerPlugin(ScrollTrigger, SplitText);

    const therapiesSection = document.getElementById("terapias");
    console.log("🚀 ~ therapiesSection:", therapiesSection);

    let tl = gsap.timeline({
      defaults: {
        scrollTrigger: {
          trigger: therapiesSection, // The section controlling parallax
          start: "bottom top",
          end: "+=700", // Adjust as needed
          scrub: 0.2, // Makes the animation follow scroll position
          
          //markers: true,
          toggleActions: "play none none reverse",
        },
      },
    });

    tl.to(".parallax-img", {
      //scale: 1.5, // The image moves down by 60px over scroll – tweak as needed
      ease: "linear",
      y: (_, el) => el.offsetHeight * 0.7, // moves slower than scroll
      scale: 1.1,
    });
  </script>
</div>
