---
export interface Props {
  title: string;
  description: string;
  image?: string;
  icon?: any;
  note?: string;
}

const { title, description, icon: Icon, note } = Astro.props;
---

<div
  class="flex flex-col items-center text-center  w-full gap-4 feature"
>
  <p class="text-golden uppercase flex items-center gap-2 text-lg">
    {Icon && <Icon class="w-6 h-6 text-golden" />}
    <span class="font-medium">{title}</span>
  </p>

  <p class="text-gray-600 text-sm flex flex-col gap-2">
    <span>
      {description}
    </span>

    <small class="text-xs text-gray-600">{note}</small>
  </p>
</div>

<!-- <style>
  .feature {
    translate: translateY(-20px);
  }
</style> -->
