---

export interface Props {
  title: string;
  description: string;
  image?: string;
  icon?: any;
}

const { title, description, icon: Icon } = Astro.props;
---

<div class="flex flex-col items-center text-center opacity-0 w-full gap-4 feature">
  <p class="text-golden uppercase flex items-center gap-2 text-lg">
    {Icon && <Icon class="w-6 h-6 text-golden" />}
    <span>{title}</span>
  </p>

  <p class="text-gray-600 text-sm">{description}</p>
</div>

<style>
  .feature {
    translate: translateY(-20px);
  }
</style>
